@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

nav, ul {
  background-color: #4B93BF;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 18vh;
  color: #E4EEF1;
  font-size: 28px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li {
  padding-right: 4rem;
}

nav li:hover {
  color: #0F468C;
  border-radius: 1rem;
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}

.floco, .inverno {
  display: flex;
}

.sessaoEstacaoDoAno {
  background-color: #E4EEF1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 56vh;
}

.sublinha {
  text-decoration: underline;
}

.textoInverno {
  color: #0F468C;
  width: 42vw;
  height: 40vh;
  font-size: 20px;
}

.imagemFlorestaBoreal {
  width: 30vw;
  height: 70vh;
}

.sessaoDuracao {
  background-color: #4B93BF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 40vh;
}

.imagemGramado {
  width: 25vw;
  height: 40vh;
}

.textoGramado {
  color: #E4EEF1;
  font-size: 32px;
  width: 42vw;
  height: 24vh;
}

.sessaoGaleria {
  background-color: #E4EEF1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 56vh;
}

.ursos {
  height: 54vh;
}

.urso1 {
  width: 25.62vw;
}

.urso2 {
  width: 19.18vw;
}

.urso3 {
  width: 26.13vw;  
}

.urso4 {
  width: 19.47vw;
}

/* Esse urso 4 era pra ser o 3, mas por algum motivo ele ta meio bugado, se eu colocar em terceiro ele fica colado com o segundo e continua desalinhado com o meio, daí decidi colocar ele por último por que assim ele pelo menos fica espaçado dos outros */

footer {
  background-color: #4B93BF;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  height: 24vh;
}

.icones {
  display: flex;
  align-items: center;
}

.textoFooter {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #E4EEF1;
}

.pinguimBox {
  width: 20vw;
}

.pinguim {
  width: 4.5vw;
  height: 18vh;
}